@use 'tokens' as *;
@use 'animations' as *;

:root {
  --topbar-height: 64px;
}
html {
  scrollbar-gutter: stable; /* Reserva espacio para la scrollbar */
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

@font-face {
  font-family: 'MiSans';
  src: url('../assets/fonts/misans_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('../assets/fonts/misans_medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'MiSans';
  src: url('../assets/fonts/misans_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  color: $color-text;
  background-color: $color-secondary;
}